.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-row-start {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-between-start {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-slot {
  flex: 1;
}

.vertical-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.vertical-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.vertical-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.inline-vertical-start-center {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.inline-vertical-center-start {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.vertical-center-end {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}

.vertical-end-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.horizontal-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.horizontal-start-center {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.horizontal-end-center {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
}

.horizontal-center-start {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}

.horizontal-start-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.horizontal-space-between-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
