.clues {
  background: #fff;
  margin-bottom: 10px;
}
.title {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
  padding: 17px 0;
  font-size: 16px;
  color: var(--font-color-8);
}
.detail {
  padding: 0 20px;
  font-size: 14px;
  .warn {
    padding: 16px 0;
    border-top: 1px solid #eeeeee;
    color: var(--theme-color-warn);
  }
  .info {
    padding: 16px 0;
    border-top: 1px solid #eeeeee;
    color: var(--font-color-3);
  }
  .cards {
    padding-bottom: 16px;
  }
}
